---
import { Icon } from 'astro-icon/components';
import { ICON_NAMES } from '../../constants/icon-names.js';

const FEATURES = [
  {
    icon: ICON_NAMES.chat,
    text: 'You can create multiple chat agents, like multiple GPTs',
  },
  {
    icon: ICON_NAMES.chat,
    text: 'You can configurate the system prompt, temperature and model',
  },
  {
    icon: ICON_NAMES.chat,
    text: 'Create several AI chat agents, each tailored to a specific coding task or pattern.',
  },
];

---

<div>
  <ul>
    {FEATURES.map(({ icon, text }) => (
      <li>
        <Icon name={icon} />
        <span>{text}</span>
      </li>
    ))}
  </ul>
</div>

<style>
  div {
    display: flex;
  }

  ul {
    --pad-left: 2rem;
    list-style-type: none;
    padding-left: 0;
    margin-left: var(--pad-left);
    li {
      position: relative;
      margin-bottom: 0.5em;
      font-weight: 500;
      line-height: 1.5;
      font-size: 1em;
    }

    svg {
      position: absolute;
      left: calc(var(--pad-left) * -1);
      top: 0px;
      width: 1.5em;
      height: 1.5em;
    }
  }
</style>
