---
import circleCheckSvg from '../../assets/icons/circle-check.svg?raw';
---

<div>
  <ul>
    <li>
      <Fragment set:html={circleCheckSvg} />
      <span>It's Free.</span>
    </li>
    <li>
      <Fragment set:html={circleCheckSvg} />
      <span>All you need is your OpenAI API key to get started.</span>
    </li>
    <li>
      <Fragment set:html={circleCheckSvg} />
      <span>
        Create several AI chat agents, each tailored to a specific coding task
        or pattern.
      </span>
    </li>
  </ul>
</div>

<style>
  div {
    display: flex;
    justify-content: center;
  }

  ul {
    --pad-left: 2rem;
    list-style-type: none;
    padding-left: 0;
    margin-left: var(--pad-left);
    li {
      position: relative;
      margin-bottom: 0.5em;
      font-weight: 500;
      line-height: 1.5;
      font-size: 1em;
    }

    svg {
      position: absolute;
      left: calc(var(--pad-left) * -1);
      top: 0px;
    }
  }
</style>
