---
import videoSrc from "../../assets/demo-git.mp4";
---

<div class="wrapper-hero-video">
  <video controls autoplay>
    <source src={videoSrc} type="video/mp4" />
  </video>
</div>

<style lang="scss">
  .wrapper-hero-video {
    position: relative;
    z-index: 1;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 1200px;
    width: 100%;
    aspect-ratio: 1728 / 1075;
    & video {
      z-index: 1;
      width: 100%;
      height: 100%;
    }
  }
</style>
