---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Goodbye from Alan Chat.">
  <main>
    <section>
      <article>
        <h1>You've been unsubscribed</h1>
        <p>
          You have successfully unsubscribed from Alan Chat. We're sorry to see
          you go!
        </p>
      </article>
    </section>
  </main>
  <footer>With love</footer>
</Layout>
