---
import { Image } from "astro:assets";
import logoSrc from "../assets/alan.svg";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import IconCircleCheckSrc from "../components/IconCircleCheck.astro";
---

<Layout title="Welcome to Alan Chat.">
  <header>
    <div class="logo">
      <Image src={logoSrc} alt="Alan logo" />
      <span>Alan AI</span>
    </div>
    <nav>
      <!-- <a href="#">FAQs</a> -->
    </nav>
  </header>
  <main>
    <section class="hero">
      <div class="wrapper-hero-video">
        <video
          autoplay
          muted
          loop
          playsinline
          onloadstart="
          this.playbackRate = 2;
          "
        >
          <source src="demo-astro.mp4" type="video/mp4" />
        </video>
      </div>
      <article>
        <h1 class="headline text-gradient">AI chat right in the IDE</h1>
        <ul>
          <li>
            <IconCircleCheckSrc />
            <span>
              Harness the power of OpenAI's GPT models right within your VS Code
              editor
            </span>
          </li>
          <li>
            <IconCircleCheckSrc />
            <span>
              Create multiple custom chat agents for different coding scenarios
            </span>
          </li>
          <li>
            <IconCircleCheckSrc />
            <span>
              Interact with an intelligent AI assistant while maintaining utmost
              data privacy and security
            </span>
          </li>
        </ul>
        <Button />
      </article>
    </section>
    <section class="features">
      <article>
        <div>
          <h2>Custom Agents for Your Needs</h2>
          <p>
            Create custom chat agents for different topics or individuals. Get
            assistance and interaction that's perfectly tailored to your
            projects.
          </p>
        </div>
      </article>
      <article>
        <div>
          <h2>Local Data Storage</h2>
          <p>
            Your conversation data is safely stored locally on your machine for
            maximum data privacy and security.
          </p>
        </div>
      </article>
      <article>
        <div>
          <h2>OpenAI Integration</h2>
          <p>
            Leverage the global accessibility and powerful assistance of
            OpenAI's GPT models in your coding journey.
          </p>
        </div>
      </article>
      <article>
        <div>
          <h2>Secure API Key Storage</h2>
          <p>
            Your OpenAI API key is securely stored using VS Code's secure
            storage mechanism, keeping your sensitive information safe.
          </p>
        </div>
      </article>
    </section>
  </main>
</Layout>

<style is:global lang="scss">
  :root {
    --primary-color: hsl(210deg 30% 2%);
    // --color: 210deg 27% 7%;

    --surface-1: hsl(210deg 27% 0%);
    --surface-2: hsl(210deg 27% 7% / 50%);
    --surface-3: hsl(210deg 6% 10%);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  body {
    --padding-left-right: clamp(10px, 3vw, 48px);
    --primary-text: hsl(210, 10%, 70%);
    --header-height: 80px;
    --logo-size: 40px;

    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    color: var(--primary-text);
    background-color: var(--surface-1);
  }

  main {
    display: block;
    overflow: hidden;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(10px);
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0deg 0% 0% / 0.5);
    justify-content: space-between;
    padding: 12px var(--padding-left-right);
    & > nav {
      display: flex;
      gap: 24px;
      & > a {
        color: inherit;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  section {
    position: relative;
    padding: 5rem var(--padding-left-right);
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    & img {
      height: var(--logo-size);
      width: var(--logo-size);
    }
    & span {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }

  .hero {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    position: relative;

    & .wrapper-hero-video {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 960px;
    }
    & article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: 300px;
      margin: auto;
      & > ul {
        --pad-left: 2rem;
        list-style-type: none;
        padding-left: 0;
        margin-left: var(--pad-left);
        & > li {
          position: relative;
          margin-bottom: 0.5em;
          font-weight: 500;
          line-height: 1.5;
          font-size: 1em;
          & > svg {
            position: absolute;
            left: calc(var(--pad-left) * -1);
            top: 2px;
          }
        }
      }
    }
  }

  .features {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 50ch));
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: stretch;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    gap: 4rem;

    & > article {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: 300px;
      border-radius: 8px;
      background-image: linear-gradient(
        135deg,
        rgba(255, 254, 241, 0.02),
        rgba(255, 254, 241, -0.01)
      );
      & > div {
        z-index: 1;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: linear-gradient(
          135deg,
          rgba(255, 254, 241, 0.02),
          rgba(255, 254, 241, 0)
        );
        border-radius: 20px;
        flex-direction: column;
        padding: 2rem;
        gap: 1rem;
        display: flex;
        position: relative;
        overflow: hidden;
        transform: translate(0);
        justify-content: center;
      }
      & h2 {
        font-size: 1.5rem;
        font-weight: 500;
        text-align: left;
        color: hsl(0 0% 89% / 1);
      }
      & p {
        color: hsl(0 0% 79% / 1);
        font-size: 1rem;
        font-weight: 100;
        text-align: left;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        opacity: 0;
        will-change: background, opacity;
        transition-duration: 400ms;
        transition-timing-function: ease;
        transition-delay: 0s;
        transition-property: opacity;
        background-image: radial-gradient(
          600px at var(--cursor-x) var(--cursor-y),
          rgba(255, 254, 241, 0.15),
          transparent 40%
        );
        background-size: auto;
        background-origin: padding-box;
        z-index: 1;
      }
    }
  }

  video {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.5);
  }

  .headline {
    font-size: clamp(1.5rem, 6vw, 3rem);
    color: whitesmoke;
  }

  .text-gradient {
    background: linear-gradient(264deg, #607d8b 20%, #00bcd4);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
  }

  /*
   * Scrollbar style
   */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(0, 0%, 15%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(210 30% 30%);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>
