---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Background from '../components/Background.astro';
import LinkGithub from '../components/LinkGithub.astro';
import Button from "../components/Button.astro";
---

<Layout title="Welcome to Alan Chat.">
  <!-- <Background /> -->
  <!-- <header></header> -->
  <main>
    <div>
      <Background />
    </div>
    <div>
      <h1 class="headline">
        AI code chat right in the IDE
      </h1>
      <Button />
    </div>
    <!-- <Banner /> -->
    <!-- <Banner />
    <LinkGithub /> -->
  </main>
</Layout>

<style is:global lang="scss">
  :root {
    --primary-color: hsl(210deg 30% 2%);

    /* --surface-1: hsl(210deg 30% 2%);
    --surface-2: hsl(210deg 27% 7% / 50%);
    --surface-3: hsl(210deg 6% 10%); */
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    color: white;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
  }

  header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
  }

  header img {
    height: 48px;
  }

  main {
    position: relative;
    height: 100%;
    display: flex;
    // flex-direction: column;
    align-items: center;
    gap: 48px;
    overflow: hidden;
    flex-grow: 1;
    
    & > div:first-child {
      flex: 1;
    }

    & > div:last-child {
      flex: 1;
      z-index: 2;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 50px;
      text-align: center;
      padding: 20px;
    }
  }
  
  .headline {
    font-size: 56px;
    color: whitesmoke;
  }
  
  .text-gradient {
    background: -webkit-linear-gradient(300deg, #93f5ec 20%, #a77bf3 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
  }

  /*
   * Scrollbar style
   */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(0, 0%, 15%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(210 30% 30%);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>
