---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Overlay from '../components/Overlay.astro';
---

<Layout title="Welcome to Astro.">
  <!-- <main>
    <Button />
  </main> -->
  <Overlay />
</Layout>

<style is:global>
  :root {
    --primary-color: hsl(210deg 30% 2%);

    /* --surface-1: hsl(210deg 30% 2%);
    --surface-2: hsl(210deg 27% 7% / 50%);
    --surface-3: hsl(210deg 6% 10%); */
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
    color: white;
    background-color: var(--primary-color);
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }



  /*
   * Scrollbar style
   */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(0, 0%, 15%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(210 30% 30%);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>
