---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Squircle from "../components/Squircle.astro";
---

<Layout title="Welcome to Alan Chat.">
  <Header />
  <main>
    <Hero />
    <section class="features">
      <article>
        <div>
          <h2>Custom Agents for Your Needs</h2>
          <p>
            Create custom chat agents for different topics or individuals. Get
            assistance and interaction that's perfectly tailored to your
            projects.
          </p>
        </div>
      </article>
      <article>
        <div>
          <h2>Local Data Storage</h2>
          <p>
            Your conversation data is safely stored locally on your machine for
            maximum data privacy and security.
          </p>
        </div>
      </article>
      <article>
        <div>
          <h2>OpenAI Integration</h2>
          <p>
            Leverage the global accessibility and powerful assistance of
            OpenAI's GPT models in your coding journey.
          </p>
        </div>
      </article>
      <article>
        <div>
          <h2>Secure API Key Storage</h2>
          <p>
            Your OpenAI API key is securely stored using VS Code's secure
            storage mechanism, keeping your sensitive information safe.
          </p>
        </div>
      </article>
    </section>
  </main>
</Layout>

<style is:global lang="scss">
  :root {
    --primary-color: hsl(210deg 30% 2%);
    // --color: 210deg 27% 7%;

    --surface-1: hsl(210deg 27% 0%);
    --surface-2: hsl(210deg 27% 7% / 50%);
    --surface-3: hsl(210deg 6% 10%);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  body {
    --padding-left-right: clamp(10px, 3vw, 48px);
    --primary-text: hsl(210, 10%, 70%);
    --header-height: 60px;
    --logo-size: 40px;

    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    color: var(--primary-text);
    background-color: var(--surface-1);
  }

  main {
    display: block;
    overflow: hidden;
  }

  section {
    position: relative;
    padding: 5rem var(--padding-left-right);
  }

  .features {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 50ch));
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: stretch;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    gap: 4rem;

    & > article {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: 300px;
      border-radius: 8px;
      background-image: linear-gradient(
        135deg,
        rgba(255, 254, 241, 0.02),
        rgba(255, 254, 241, -0.01)
      );
      & > div {
        z-index: 1;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: linear-gradient(
          135deg,
          rgba(255, 254, 241, 0.02),
          rgba(255, 254, 241, 0)
        );
        border-radius: 20px;
        flex-direction: column;
        padding: 2rem;
        gap: 1rem;
        display: flex;
        position: relative;
        overflow: hidden;
        transform: translate(0);
        justify-content: center;
      }
      & h2 {
        font-size: 1.5rem;
        font-weight: 500;
        text-align: left;
        color: hsl(0 0% 89% / 1);
      }
      & p {
        color: hsl(0 0% 79% / 1);
        font-size: 1rem;
        font-weight: 100;
        text-align: left;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        opacity: 0;
        will-change: background, opacity;
        transition-duration: 400ms;
        transition-timing-function: ease;
        transition-delay: 0s;
        transition-property: opacity;
        background-image: radial-gradient(
          600px at var(--cursor-x) var(--cursor-y),
          rgba(255, 254, 241, 0.15),
          transparent 40%
        );
        background-size: auto;
        background-origin: padding-box;
        z-index: 1;
      }
    }
  }

  video {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.5);
  }

  .text-gradient {
    background: linear-gradient(264deg, #607d8b 20%, #00bcd4);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
  }

  /*
   * Scrollbar style
   */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: black;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      231deg,
      hsl(210deg 20% 14.57%) 20%,
      hsl(210deg 20% 14.57%) 40%,
      hsl(210deg 20% 14.57%)
    );
    border-radius: 10px;
    &:hover {
      background: hsl(186.79deg 100% 27.57%);
    }
  }
</style>
