---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Background from '../components/Background.astro';
import LinkGithub from '../components/LinkGithub.astro';
import Button from "../components/Button.astro";
---

<Layout title="Welcome to Alan Chat.">
  <!-- <Background /> -->
  <!-- <header></header> -->
  <header>

  </header>
  <main>
    <section class="hero">
      <div>
        <video
          autoplay
          muted
          loop
          playsinline
          onloadstart="this.playbackRate = 2;"
        >
          <source src="demo-astro.mp4" type="video/mp4" />
        </video>
      </div>
      <article>
        <h1 class="headline text-gradient">
          AI code chat right in the IDE
        </h1>
        <Button />
      </article>
    </section>
    <!-- <div>
      <Background />
    </div>
    <div>
      <h1 class="headline">
        AI code chat right in the IDE
      </h1>
      <Button />
    </div> -->
    <!-- <Banner /> -->
    <!-- <Banner />
    <LinkGithub /> -->
  </main>
</Layout>

<style is:global lang="scss">
  :root {
    --primary-color: hsl(210deg 30% 2%);

    --surface-1: hsl(210deg 30% 2%);
    --surface-2: hsl(210deg 27% 7% / 50%);
    --surface-3: hsl(210deg 6% 10%);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    color: white;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
  }

  header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
  }

  header img {
    height: 48px;
  }

  .hero {
    display: flex;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: var(--surface-2);
    max-height: 100vh;
    height: 100%;

    & > div:first-child {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 800px;
    }
    & > article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-shrink: 0;
      flex-basis: 455px;
      text-align: center;
      margin: auto;
    }
  }
  video {
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }

  .headline {
    font-size: 3rem;
    color: whitesmoke;
  }

  .text-gradient {
    background: -webkit-linear-gradient(120deg, #9C27B0 20%, #673AB7);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
  }

  /*
   * Scrollbar style
   */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(0, 0%, 15%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(210 30% 30%);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>
