---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/features/Features.astro";
import FAQs from "../components/FAQs.astro";
---

<Layout title="Welcome to Alan Chat.">
  <Header />
  <main>
    <Hero />
    <Features />
    <FAQs />
  </main>
</Layout>

<style is:global lang="scss">
  :root {
    --primary-color: hsl(210deg 30% 2%);
    // --color: 210deg 27% 7%;

    --surface-1: hsl(210deg 27% 0%);
    --surface-2: hsl(210deg 27% 7% / 50%);
    --surface-3: hsl(210deg 6% 10%);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  body {
    --padding-left-right: clamp(10px, 3vw, 48px);
    --primary-text: hsl(210, 10%, 70%);
    --header-height: 60px;
    --logo-size: 40px;

    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    color: var(--primary-text);
    background-color: var(--surface-1);
  }

  main {
    display: block;
    overflow: hidden;
  }

  section {
    position: relative;
    padding: 5rem var(--padding-left-right);
  }

  video {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.5);
  }

  .text-gradient {
    background: linear-gradient(264deg, #607d8b 20%, #00bcd4);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
  }

  /*
   * Scrollbar style
   */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: black;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      231deg,
      hsl(210deg 20% 14.57%) 20%,
      hsl(210deg 20% 14.57%) 40%,
      hsl(210deg 20% 14.57%)
    );
    border-radius: 10px;
    &:hover {
      background: hsl(186.79deg 100% 27.57%);
    }
  }
</style>
