---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Welcome to Astro.">
  <header>
    <img src="/alan-with-background.png" alt="Alan Logo" />
    <Button />
  </header>
  <main>
    <Hero />
  </main>
</Layout>

<style is:global>
  :root {
    --primary-color: hsl(210deg 30% 2%);

    /* --surface-1: hsl(210deg 30% 2%);
    --surface-2: hsl(210deg 27% 7% / 50%);
    --surface-3: hsl(210deg 6% 10%); */
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    color: white;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
  }

  header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
  }

  header img {
    height: 48px;
  }

  main {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    overflow: hidden;
    flex-grow: 1;
  }

  /*
   * Scrollbar style
   */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(0, 0%, 15%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(210 30% 30%);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>
