---
import Layout from "../layouts/Layout.astro";


---
<Layout title="Thank you">
  <main>
    <h1>
      Thank you
    </h1>
    <a href="/v2">Back</a>
  </main>
</Layout>

<style>
  main {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Added to stack elements vertically */
    text-align: center; /* Added to center text */
    background: var(--accent-gradient); /* Added background gradient */
  }

  h1 {
    color: rgb(var(--accent-dark)); /* Added custom color */
    margin-bottom: var(--fluid-2); /* Added margin for spacing */
  }

  a {
    font-size: var(--fluid-1); /* Adjusted font size */
    color: rgb(var(--accent)); /* Added custom color */
    padding: var(--fluid--2) var(--fluid-0); /* Added padding */
    border: 2px solid rgb(var(--accent)); /* Added border */
    border-radius: var(--fluid-0); /* Added border radius */
    transition: background-color 0.3s, color 0.3s; /* Added transition for hover effect */
  }

  a:hover {
    background-color: rgb(var(--accent)); /* Added hover background color */
    color: white; /* Changed text color on hover */
  }
</style>
