---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Alan Chat.">
  <main>
    <h1>Hola</h1>
  </main>
</Layout>

<style is:global>
  header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  main {
    position: relative;
    z-index: 0;
  }
</style>
