---
import Button from "./Button.astro";
---

<div class="banner">
  <Button />
</div>

<style>
  .banner {
    width: 100%;
    padding: 30px;
    margin-top: auto;
    z-index: 0;
    display: flex;
    justify-content: center;
    background-color: hsl(210deg 30% 12% / 0.3);
    backdrop-filter: blur(10px);
  }
</style>
