---

---
<button>
  Install this app for vscode
</button>


<style is:global>
  .card {
    flex: 1 1 14rem;
    padding: 1.5em 2em;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    align-items: start;
    gap: 1.25em;
    color: #eceff1;
    background-color: #2b2b2b;
    border: 1px solid #eceff133;
    border-radius: 15px;
  }

  button {
    position: relative;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    color: hsl(210 40% 80%);
    border-radius: 4px;
    background: hsl(210 0% 0% / 0.5);
    border: 0.5px solid hsl(210 40% 40%);
    transition: border-color 0.2s ease-in-out;
  }

  button::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: hsl(256, 50%, 50%);
    z-index: -1;
    filter: blur(30px);
    animation: shine 4s linear infinite;
  }

  button::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: hsl(210 50% 56% / 1);
    z-index: -1;
    filter: blur(30px);
    animation: shine 4s linear infinite;
  }

  button:hover {
    border: 0.5px solid hsl(210 40% 40%);
  }

  button:hover::after {
    background-color: hsl(256, 60%, 50%);
  }

  button:hover::before {
    background-color: hsl(210 60% 46% / 1);
  }

  button:focus::after {
    animation: shine 2s linear infinite;
  }

  button:focus::before {
    animation: shine 2s linear infinite;
  }

  @keyframes shine {
  0% {
    transform: translateX(-100%);
    border: 0.5px solid hsl(210 40% 20%);
  }
  50% {
    transform: translateX(100%);
    border: 1px solid hsl(210 40% 40%);
  }
  100% {
    transform: translateX(-100%);
    border: 0.5px solid hsl(210 40% 20%);
  }
}

</style>
