---
import brandVscodeSVG from "../assets/brand-vscode.svg?raw";
---

<a
  target="_blank"
  href="https://marketplace.visualstudio.com/items?itemName=haderman.alanai"
>
  <Fragment set:html={brandVscodeSVG} />
  <span>Install<span class="objection"> - it's free</span></span>
</a>

<style lang="scss">
  a {
    font-family: system-ui, sans-serif;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    border-radius: 4px;
    background: hsl(261.6deg 51.87% 47.25%);
    color: hsl(261.6deg 51.87% 95.25%);
    transition: background-color 250ms ease-in-out;
    &:hover {
      border-color: hsl(211 81% 93%);
      background-color: hsl(261.6deg 51.87% 27.25%);
    }
    &:focus {
      outline: 2px solid hsl(261.6deg 16.87% 67.25%);
      outline-offset: 2px;
    }
  }
  .objection {
    font-size: 0.8em;
    color: hsl(261.6deg 51.87% 95.25%);
    opacity: 0.8;
  }
</style>
