---
import { Image } from "astro:assets";
import logoSrc from "../assets/alan-with-background.png";
---

<footer>
  <div class="logo">
    <Image src={logoSrc} alt="Alan logo" />
    <span>Alan AI</span>
  </div>
  <nav>
    <a
      href="https://marketplace.visualstudio.com/items/haderman.alanai/changelog"
      target="_blank"
    >
      Changelog
    </a>
  </nav>
</footer>

<style lang="scss">
  footer {
    --link-color: hsl(210 18% 85% / 1);
    --link-visited-color: hsl(240.65 5.78% 50.88%);
    --link-focus-color: hsl(210 48% 55% / 1);
    border-top: 1px solid hsl(210 10% 10% / 1);
    padding: var(--fluid--1) var(--padding-left-right);
    display: flex;
    background: hsl(210 0% 0% / 0.6);
    justify-content: space-between;
    align-items: center;
    & a {
      text-decoration: none;
      &:link {
        color: var(--link-color);
      }
      &:visited {
        color: var(--link-visited-color);
      }
      &:hover {
        text-decoration: underline;
      }
      &:focus {
        outline: 1px solid var(--link-focus-color);
        outline-offset: 4px;
        border-radius: 4px;
      }
    }
  }
  .logo {
    z-index: 1;
    display: flex;
    align-items: center;
    gap: var(--fluid--1);
    & img {
      height: var(--logo-size);
      width: var(--logo-size);
    }
    & span {
      font-size: 1rem;
      font-weight: 500;
    }
  }
  @media screen and (min-width: 720px) {
    footer {
      justify-content: space-around;
    }
  }
</style>
