---

---

<div class="hero-bg-wrapper">
  <div class="overlay">
    <div class="bubble"></div>
    <!-- <div class="bubble"></div>
    <div class="bubble"></div>
    <div class="bubble"></div> -->
  </div>
  <div class="grid-pattern">
    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
      <filter id="remove-black" color-interpolation-filters="sRGB">
        <feColorMatrix
          type="matrix"
          values="1 0 0 0 0
                  0 1 0 0 0
                  0 0 1 0 0
                  -255 -255 -255 0 1"
          result="black-pixels"></feColorMatrix>
        <feMorphology
          in="black-pixels"
          operator="dilate"
          radius="0.5"
          result="smoothed"></feMorphology>
        <feComposite in="SourceGraphic" in2="smoothed" operator="out"
        ></feComposite>
      </filter>
    </svg>
  </div>
</div>

<style lang="scss">
  .hero-bg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .grid-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background: radial-gradient(circle, white 1px, black 0);
    background-size: 20px 20px;
    filter: invert(1) url(#remove-black) invert(1);
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: black;
    // background-color: hsl(240, 53%, 93%);
    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=11656c&c2=980d2f&gt=r&gd=dcc
    */
    // background: #11656C;
    // background: radial-gradient(at center, hsl(185, 73%, 75%), hsl(345, 84%, 82%));
  }
  .bubble {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // aspect-ratio: 1 / 1;
    // border-radius: 50%;
    background: radial-gradient(at center, hsl(210, 73%, 35%), black 80%);
    background: linear-gradient(to bottom, hsl(187 42% 3% / 1) 11.2%, hsl(187 42% 20% / 1) 91.1%)
    // animation: rotate 5s infinite linear;
  }


  .bubble:nth-child(1) {
    // transform: translate(-50%, -50%);
  }

  .bubble:nth-child(2) {
    left: 100vw;
    transform: translate(-50%, -50%);
  }

  .bubble:nth-child(3) {
    top: 100vh;
    transform: translate(-50%, -50%);
  }

  .bubble:nth-child(4) {
    top: 100vh;
    left: 100vw;
    transform: translate(-50%, -50%);
  }

  // .bubble:nth-child(2) {
  //   animation-delay: 1s;
  // }

  // .bubble:nth-child(3) {
  //   animation-delay: 2s;
  // }

  // .bubble:nth-child(4) {
  //   animation-delay: 3s;
  // }

  // .bubble:nth-child(5) {
  //   animation-delay: 4s;
  // }
</style>
