---
import { Image } from "astro:assets";
import logoSrc from "../assets/alan-with-background.png";
---

<header>
  <nav>
    <div class="logo">
      <Image src={logoSrc} alt="Alan logo" />
      <span>Alan AI</span>
    </div>
    <a
      href="https://marketplace.visualstudio.com/items/haderman.alanai/changelog"
      target="_blank"
    >
      Changelog
    </a>
  </nav>
</header>

<style lang="scss">
  header {
    display: flex;
    justify-content: center;

    & > nav {
      max-width: 1200px;
      position: relative;
      z-index: 1;
    }

    & > .bien-glass {
      z-index: 0;
    }
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--fluid-3);
    padding: var(--fluid-0);
    font-size: var(--fluid-0);

    & > div:first-child {
      margin-right: auto;
    }
  }

  .logo {
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    & img {
      height: var(--logo-size);
      width: var(--logo-size);
    }
    & span {
      font-size: 1rem;
      font-weight: 500;
    }
  }
</style>
