---
import CTA from './common/CTA.astro';
import Video from './hero/Video.astro';
---

<section data-name="hero" class="hero">
  <article>
    <h1 class="text-gradient">
      Multiple AI Chats Right in your IDE!
    </h1>
    <h2>Set up multiple AI chats. Each one has its own system prompt.</h2>
    <CTA />
  </article>
  <div>
    <Video />
  </div>
</section>

<style is:global lang="scss">
  .hero {
    background-color: rgba(0,0,0,.4);
    gap: var(--fluid-8);
    flex-wrap: wrap;
    height: 100%;
    flex-wrap: wrap;
    padding: var(--fluid-8) var(--fluid-4);

    @media screen and (min-width: 768px) {
      padding: var(--fluid-8) var(--fluid-8);
    }

    & > * {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 500px;
    }

    & .wrapper-hero-video {
      z-index: 1;
      width: 100%;
    }
  }
  .hero > article {
    opacity: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-duration: 3s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;

    & > h1 {
      margin-bottom: var(--fluid-1);
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      font-size: var(--fluid-5);
      // text-align: left;
    }
    & > h2 {
      margin-bottom: var(--fluid-4);
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      font-size: var(--fluid-1);
      font-weight: 400;
      // text-align: left;
    }
  }

  .hero > div {
    opacity: 0;
    animation-duration: 1s;
    animation-name: fadeInUp;
    animation-delay: 500ms;
    animation-fill-mode: forwards;

    @media screen and (min-width: 1236px) {
      animation-name: fadeIn;
      animation-duration: 3s;
      animation-delay: 0ms;
    }
  }

  @keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    80% {
      opacity: 0.2;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in-up-animation {
    animation: 2s fadeInUp;
  }
</style>
