---
import CTA from "./common/CTA.astro";
import Video from "./hero/Video.astro";
---

<section class="hero">
  <article>
    <h1 class="text-gradient">
      Multiple AI Chats Right in your IDE!
    </h1>
    <h2>Set up multiple AI chats. Each one has its own system prompt.</h2>
    <CTA />
  </article>
  <Video />
</section>

<style is:global lang="scss">
  .hero {
    gap: var(--fluid-8);
    flex-wrap: wrap;
    height: 100%;
    flex-wrap: wrap;
    padding: var(--fluid-8) var(--fluid-8);

    & > * {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 400px;
    }

    & .wrapper-hero-video {
      z-index: 1;
      width: 100%;
    }
  }
  .hero > article {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > h1 {
      margin-bottom: var(--fluid-1);
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      // text-align: left;
    }
    & > h2 {
      margin-bottom: var(--fluid-4);
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      font-size: var(--fluid-1);
      font-weight: 400;
      // text-align: left;
    }
  }
</style>
