---
import CTA from "./common/CTA.astro";
import GridPattern from "./hero/GridPattern.astro";
import Video from "./hero/Video.astro";
---

<section class="hero">
  <GridPattern />
  <article>
    <h1 class="headline text-gradient">
      Multiple AI Chats Right in <br />Your IDE!
    </h1>
    <p>Set up multiple AI chats. Each one has its own system prompt.</p>
    <CTA />
  </article>
  <Video />
</section>

<style is:global lang="scss">
  .hero {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
    padding-top: clamp(5rem + var(--header-height), 20vw, 10rem + var(--header-height));
    & .wrapper-hero-video {
      z-index: 1;
      flex-grow: 1;
      flex-shrink: 1;
      width: 100%;
    }
  }
  .hero > article {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    margin: auto;
    & > h1 {
      margin-bottom: 0.9rem;
      font-size: clamp(1.5rem, 6vw, 3rem);
      text-align: center;
      max-width: 25ch;
    }
    & > p {
      margin-bottom: 2.6rem;
      font-size: 1.2rem;
      font-weight: 300;
      text-align: center;
    }
  }
  .headline {
    font-size: clamp(1.5rem, 6vw, 3rem);
    color: whitesmoke;
  }
</style>
