---
import { Image } from 'astro:assets';
import CTA from './common/CTA.astro';
import ListOfFeatures from './common/ListOfFeatures.astro';
import gitanaSrc from '../assets/screenshots/gitana.webp';
import diagramSrc from '../assets/screenshots/vision-diagram.webp';
---

<section data-name="hero" class="hero">
  <article>
    <h1 class="text-gradient">
      Optimize your programming workflow with AI in VSCode
    </h1>
    <ListOfFeatures />
    <CTA />
  </article>
  <div class="images-wrapper">
    <div>
      <Image src={gitanaSrc} alt="Gitana" />
    </div>
    <div>
      <Image src={diagramSrc} alt="Vision Diagram" />
    </div>
  </div>
</section>

<style is:global lang="scss">
  .hero {
    min-height: 80vh;
    gap: var(--fluid-8);
    flex-wrap: wrap;
    height: 100%;
    flex-wrap: wrap;
    padding: var(--fluid-8) var(--fluid-4);

    @media screen and (min-width: 768px) {
      padding: var(--fluid-8) var(--fluid-8);
    }

    & > * {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 500px;
      z-index: 1;
    }

    & .wrapper-hero-video {
      z-index: 1;
      width: 100%;
    }

    & .background {
      z-index: 0;
    }
  }

  .hero > article {
    opacity: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--fluid-4);
    animation-duration: 3s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;

    & > h1 {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      font-size: var(--fluid-6);
    }
    & > h2 {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      font-size: var(--fluid-1);
      font-weight: 400;
    }
  }

  .hero > div {
    opacity: 0;
    animation-duration: 1s;
    animation-name: fadeInUp;
    animation-delay: 500ms;
    animation-fill-mode: forwards;

    @media screen and (min-width: 1236px) {
      animation-name: fadeIn;
      animation-duration: 3s;
      animation-delay: 0ms;
    }
  }

  .images-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;

    & > div {
      display: flex;
      height: auto;
      width: 45%;
      padding: var(--fluid--3);
      backdrop-filter: blur(20px);
      background-color: hsla(0, 0%, 100%, 0.051);
    }

    & img {
      width: 100%;
      height: 100%;
    }
  }

  @keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    80% {
      opacity: 0.2;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-in-up-animation {
    animation: 2s fadeInUp;
  }
</style>
