---
import CTA from "./common/CTA.astro";
import List from "./common/ListOfFeatures.astro";
---

<section data-name="last-cta" class="last-cta">
  <article>
    <h1 class="headline text-gradient">Try Alan AI Chat Today</h1>
    <List />
    <CTA />
  </article>
</section>

<style lang="scss">
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(210 0% 0% / 0.3);
    padding-top: var(--fluid-7);
    padding-bottom: var(--fluid-8);
  }

  article {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    margin: auto;
    gap: var(--fluid-4);

    & > h1 {
      font-size: clamp(1.5rem, 6vw, 3rem);
      text-align: center;
      max-width: 25ch;
    }
    & > p {
      font-size: 1.2rem;
      font-weight: 500;
      text-align: center;
    }
  }
</style>
