---
import bgSvg from "../assets/backgrounds/grid.svg?raw";
---

<section data-name="price">
  <div class="background">
    <div class="light"></div>
    <Fragment set:html={bgSvg} />
  </div>
  <h2>Pricing</h2>
  <article class="price-card">
    <header>
      <h2 class="price-title text-gradient">Free</h2>
      <p class="price-description text-gradient">
        Everything you need to supercharge your productivity.
      </p>
      <span class="price-tag text-gradient-3">
        <strong>$0</strong>/ month
      </span>
    </header>
    <div class="divider"></div>
    <div class="price-features">
      <span>What is included</span>
      <ul class="price-features">
        <li>Create unlimited AI chat agents</li>
        <li>Edit unlimited messages</li>
        <li>Access to all future updates</li>
      </ul>
    </div>
    <a
      target="_blank"
      href="https://marketplace.visualstudio.com/items?itemName=haderman.alanai"
      class="cta-button"
    >
      Get Started
    </a>
  </article>
</section>

<style>
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .light {
      background-image: radial-gradient(
        50% 50% at 50% 50%,
        oklch(0.5 0.07 230 / 0.4),
        oklch(1 0 0 / 0)
      );
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      inset: 0;
    }

    & > svg {
      stroke: hsla(0, 0%, 100%, 0.05);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      inset: 0;
      /* mask-image: radial-gradient(75% 50% at top center, #fff, transparent); */
    }
  }
</style>

<style>
  section {
    flex-direction: column;
    padding: var(--fluid-7) var(--fluid-3);
    background: linear-gradient(145deg, var(--surface-1), var(--surface-2));
    opacity: 0.8;
    background-image: radial-gradient(oklab(0.35 -0.05 -0.09) 0.5px, black 0);
  }

  .price-card {
    position: relative;
    max-width: 380px;
    border-radius: var(--fluid-2);
    padding: var(--fluid-3);
    color: var(--primary-text);
    display: flex;
    flex-direction: column;
    gap: var(--fluid-3);
    border: 1px solid 0.5px solid lab(23 0 0 / 0.67);
    background:
      radial-gradient(at center right, oklch(8% 0 0 / 1), oklch(16% 0 0 / 1))
        padding-box,
      linear-gradient(230deg, oklch(20% 0 0), oklch(25% 0 0)) border-box;
    border: 1px solid transparent;

    h2 {
      text-align: left;
      font-size: var(--fluid-4);
      color: var(--primary-text);
      margin-bottom: var(--fluid-2);
    }

    &:hover {
      .text-gradient-3 {
        animation: shining-animation 1s ease-in-out;
      }
    }
  }

  .price-tag {
    display: inline-flex;
    align-items: center;
    gap: var(--fluid--3);
    font-size: var(--fluid-0);
    color: oklab(60% 0 0);

    strong {
      color: var(--primary-text);
      font-size: var(--fluid-6);
    }
  }

  .price-features {
    color: oklab(70% 0 0);

    span {
      font-size: var(--fluid-0);
      color: oklab(70% 0 0);
      display: block;
      margin-bottom: var(--fluid-2);
    }
  }

  .divider {
    height: 0.5px;
    opacity: 0.3;
    background: linear-gradient(
      to right,
      oklch(1 0 0) 15%,
      oklch(0.85 0 0) 25%,
      oklch(0.88 0 0) 35%,
      oklch(0.68 0 0) 45%,
      oklch(0.78 0 0) 55%,
      oklch(0.88 0 0) 65%,
      oklch(0.85 0 0) 75%,
      oklch(1 0 0) 85%,
      oklch(1 0 0) 100%
    );
  }

  .price-description {
    font-size: var(--fluid-1);
    margin-bottom: var(--fluid-2);
    color: var(--primary-text);
  }

  .price-features {
    list-style: none;
    padding: 0;
    margin-bottom: var(--fluid-2);
  }

  .price-features li {
    font-size: var(--fluid-1);
    align-items: center;
    display: flex;
    margin-bottom: var(--fluid--1);

    &::before {
      content: "✓";
      color: hsl(var(--accent));
      margin-right: var(--fluid--2);
      display: flex;
      align-items: center;
    }
  }

  .cta-button {
    text-align: center;
    font-size: var(--fluid-1);
    padding: var(--fluid--1) var(--fluid-1);
    border: none;
    border-radius: var(--fluid--2);
    color: var(--primary-text);
    cursor: pointer;
    transition: all 0.3s ease;

    background:
      linear-gradient(180deg, oklch(0.1 0.06 224.38), oklch(0.2 0.09 223.4))
        padding-box,
      linear-gradient(180deg, oklch(0.25 0.12 246.34), oklch(0.3 0.16 246.32))
        border-box;
    border: 1px solid transparent;
  }

  .card-container {
    position: relative;
    border-radius: var(--fluid-2);
  }
</style>
