---

---

<div class="container">
  <h3>Website under construction</h3>
</div>

<style>
  .container {
    --yellow: hsl(60 80% 30% / 0.3);
    --black: hsl(210 30% 12% / 0.3);
    padding: 10px;
    position: relative;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(
      120deg,
      var(--black) 0%,
      var(--black) 6.25%,
      var(--yellow) 6.25%,
      var(--yellow) 12.5%,
      var(--black) 12.5%,
      var(--black) 18.75%,
      var(--yellow) 18.75%,
      var(--yellow) 25.0%,
      var(--black) 25.0%,
      var(--black) 31.25%,
      var(--yellow) 31.25%,
      var(--yellow) 37.5%,
      var(--black) 37.5%,
      var(--black) 43.75%,
      var(--yellow) 43.75%,
      var(--yellow) 50%,
      var(--black) 50%,
      var(--black) 56.25%,
      var(--yellow) 56.25%,
      var(--yellow) 62.5%,
      var(--black) 62.5%,
      var(--black) 68.75%,
      var(--yellow) 68.75%,
      var(--yellow) 75%,
      var(--black) 75%,
      var(--black) 81.25%,
      var(--yellow) 81.25%,
      var(--yellow) 87.5%,
      var(--black) 87.5%,
      var(--black) 93.75%,
      var(--yellow) 93.75%,
      var(--yellow) 100%
    );
    border-radius: 6px;
    margin-right: auto;
    z-index: 0;
  }

  .container h3 {
    margin: 0;
    font-size: 16px;
    color: hsl(210 52% 88%);
    text-align: left;
    text-shadow: 1px 1px black;
  }
</style>
