---

---

<div class="wrapper-hero-video">
  <video
    muted
    loop
    playsinline
    onloadstart="this.playbackRate = 2;"
  >
    <source src="demo-astro.mp4" type="video/mp4" />
  </video>
</div>

<style lang="scss">
  .wrapper-hero-video {
    position: relative;
    z-index: 1;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 960px;
    width: 100%;
    aspect-ratio: 1728 / 1075;
    & video {
      z-index: 0;
    }
  }
</style>
