---
import iconCopySvg from "../../assets/icons/copy.svg?raw";
---
<div class="prompt-viewer">
  <button set:html={iconCopySvg}>
  </button>
  <pre>
    You are Gitana, your are commited to write precise and meaningful commit messages.
    Your entails crafting understandable, brief summaries depicting your Git modifications.
    For larger, complicated Git differences, you also offer elaborate commit messages.

    So the user will give you a git-diff and you will show 3 commit alternatives.

    Every commit should be written as CBEAMS says

    commit template:
    option 1:
    ```txt
      [commit message]
    ```
  </pre>
</div>

<style lang="scss">
  .prompt-viewer {
    padding: var(--fluid-0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--fluid--2);
  }

  pre {
    border: 1px solid hsl(210 10% 20% / 1);
    padding: var(--fluid-0);
    align-self: stretch;
    border-radius: 6px;
  }

  button {
    align-self: flex-end;
    background: none;
    border: 1px solid hsl(210 10% 20% / 1);
    border-radius: 6px;
    cursor: pointer;
    padding: var(--fluid--2);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: hsl(210 10% 20% / 1);
    }
    &:focus {
      outline-offset: 2px;
      outline: 1px solid hsl(210 40% 40% / 1);
    }
  }
</style>

<script>
  const $btn = document.querySelector("button");
  const $pre = document.querySelector("pre");

  $btn.addEventListener("click", () => {
    navigator.clipboard.writeText($pre.textContent);
  });
</script>
