---
import Squircle from "../common/Squircle.astro";
import Background from "./Background.astro"

const { title, description, color, icon } = Astro.props;
---

<div class="feature-card">
  <Background seed={title} />
  <article>
    <Squircle />
    <picture set:html={icon}></picture>
    <h2>{title}</h2>
    <p>{description}</p>
  </article>
</div>

<style lang="scss" define:vars={{ color }}>
  .feature-card {
    position: relative;
    display: flex;
    --h: var(--color);
    --s: 100%;
    & > :global(div:first-child) {
      opacity: 1;
      transition: opacity 250ms ease-in-out;
    }
    &:hover {
      --s: 100%;
      & > :global(div:first-child) {
        opacity: 1;
      }
    }
    & > article {
      z-index: 1;
      position: relative;
    }
    & > .bg-wrapper {
      z-index: 0;
      position: absolute;
    }
  }
  picture {
    z-index: 1;
    & > svg {
      stroke: red;
    }
  }
  article {
    width: 100%;
    padding: var(--fluid-1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--fluid--1);
    & h2 {
      z-index: 1;
      color: #e3e3e3;
      font-weight: 500;
      text-align: left;
    }
    & p {
      z-index: 1;
      color: hsl(0 0% 50% / 1);
      font-weight: 400;
      text-align: left;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      visibility: hidden;
    }
    to {
      opacity: 1;
      visibility: visible;
    }
  }
  @keyframes fade-out {
    from {
      opacity: 1;
      visibility: visible;
    }
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
</style>
