---
import brandVscodeSVG from "../../assets/brand-vscode.svg?raw";
---

<a
  target="_blank"
  href="https://marketplace.visualstudio.com/items?itemName=haderman.alanai"
>
  <Fragment set:html={brandVscodeSVG} />
  <span>Install</span>
  <span class="objection"> - it's free</span>
  <div class="glow"></div>
</a>

<style lang="scss">
  a {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    padding: var(--fluid--1);
    display: flex;
    align-items: center;
    align-self: center;
    gap: var(--fluid--3);
    border-radius: 1000px;

    & > span {
      z-index: 1;
      border-radius: 1000px
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 1px solid lch(50 50 210 / 1);
      outline-offset: 6px;
    }
  }
  .objection {
    font-size: 0.8em;
    color: hsl(261.6deg 51.87% 95.25%);
    opacity: 0.5;
    text-shadow: 1px 1px lch(0 0 0 / 1);
    font-style: italic;
  }

  .glow {
    position: absolute;
    inset: 0;
    border-radius: 1000px;
    border: 2px solid transparent;
    mask:
      linear-gradient(transparent, transparent),
      linear-gradient(lch(50 50 210), lch(50 50 210));
    mask-clip: padding-box, border-box;
    mask-composite: intersect;
    background-color: lch(20 40 290 / 1);

    &::after {
      content: "";
      position: absolute;
      inset: 2px;
      transform: scale(3);
      border-radius: inherit;
      offset-path: rect(0 auto auto 0 round 1000px);
      animation: loop 8s infinite linear;
      animation-delay: 2s;

      background:
        radial-gradient(
          circle at right,
          hsl(320 90% 100%),
          transparent 50%
        );
    }
  }

  @keyframes loop {
    0% {
      offset-distance: 0%;
    }
    20% {
      offset-distance: 100%;
    }
    50% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 0%;
    }
  }
</style>
