---
import { createAvatar as dicebearCreateAvatar } from '@dicebear/core';
import * as identicon from '@dicebear/identicon';

const { seed } = Astro.props;

function createIdenticon(seed) {
  const avatar = dicebearCreateAvatar(identicon, {
    seed: seed,
    scale: 70,
    randomizeIds: false,
  });

  return avatar.toString();
}

const svg = createIdenticon(seed);
---
<span set:html={svg} class="identicon"></span>
