---
// source: https://codepen.io/bennettfeely/pen/vYLmYJz
---

<div class="stars-wrapper">
  <svg class="stars" width="100%" height="100%" preserveAspectRatio="none">
    <circle class="star" cx="79.36%" cy="98.83%" r="1.3"></circle>
    <circle class="star" cx="8.35%" cy="14.54%" r="1"></circle>
    <circle class="star" cx="42.96%" cy="73.17%" r="1.2"></circle>
    <circle class="star" cx="92.13%" cy="74.79%" r="1"></circle>
    <circle class="star" cx="92.96%" cy="59.2%" r="1"></circle>
    <circle class="star" cx="37.34%" cy="42.98%" r="1.3"></circle>
    <circle class="star" cx="29.98%" cy="58.77%" r="0.9"></circle>
    <circle class="star" cx="31.34%" cy="92.97%" r="0.5"></circle>
    <circle class="star" cx="56.42%" cy="74.29%" r="0.6"></circle>
    <circle class="star" cx="66.68%" cy="79.36%" r="1.4"></circle>
    <circle class="star" cx="72.35%" cy="69.34%" r="1.1"></circle>
    <circle class="star" cx="17.22%" cy="39.92%" r="0.5"></circle>
    <circle class="star" cx="7.34%" cy="14.34%" r="1.3"></circle>
    <circle class="star" cx="30.1%" cy="61.11%" r="0.8"></circle>
    <circle class="star" cx="2.42%" cy="13.27%" r="0.8"></circle>
    <circle class="star" cx="32.56%" cy="4.53%" r="0.7"></circle>
    <circle class="star" cx="87.14%" cy="72.16%" r="0.9"></circle>
    <circle class="star" cx="93.34%" cy="82.91%" r="0.8"></circle>
    <circle class="star" cx="6.69%" cy="65.23%" r="0.8"></circle>
    <circle class="star" cx="87.38%" cy="60.7%" r="1.3"></circle>
    <circle class="star" cx="12.44%" cy="6.71%" r="0.8"></circle>
    <circle class="star" cx="9.35%" cy="62.91%" r="1.3"></circle>
    <circle class="star" cx="28.3%" cy="29.9%" r="1.5"></circle>
    <circle class="star" cx="67.02%" cy="10.08%" r="0.9"></circle>
    <circle class="star" cx="74.8%" cy="58.11%" r="1"></circle>
    <circle class="star" cx="82.82%" cy="1.86%" r="0.9"></circle>
    <circle class="star" cx="96.12%" cy="94.17%" r="0.9"></circle>
    <circle class="star" cx="53.11%" cy="49.67%" r="1"></circle>
    <circle class="star" cx="25.68%" cy="23.38%" r="1"></circle>
    <circle class="star" cx="52.35%" cy="18.64%" r="1.1"></circle>
    <circle class="star" cx="94.92%" cy="94.56%" r="1.1"></circle>
    <circle class="star" cx="1.41%" cy="14.85%" r="0.6"></circle>
    <circle class="star" cx="59.26%" cy="43.48%" r="1.1"></circle>
    <circle class="star" cx="0.5%" cy="43.97%" r="1.4"></circle>
    <circle class="star" cx="85.44%" cy="57.11%" r="0.7"></circle>
    <circle class="star" cx="66.73%" cy="12.2%" r="0.6"></circle>
    <circle class="star" cx="97.5%" cy="93.61%" r="1.4"></circle>
    <circle class="star" cx="73.39%" cy="47.58%" r="1"></circle>
    <circle class="star" cx="95.39%" cy="49.81%" r="1.4"></circle>
    <circle class="star" cx="37.77%" cy="24.37%" r="1"></circle>
    <circle class="star" cx="52.63%" cy="45.97%" r="0.7"></circle>
    <circle class="star" cx="17.22%" cy="27.97%" r="1.2"></circle>
    <circle class="star" cx="21.81%" cy="35.32%" r="0.9"></circle>
    <circle class="star" cx="67.46%" cy="8.74%" r="0.7"></circle>
    <circle class="star" cx="2.31%" cy="88.39%" r="0.5"></circle>
    <circle class="star" cx="99.91%" cy="80.94%" r="0.9"></circle>
    <circle class="star" cx="51.39%" cy="44.92%" r="1"></circle>
    <circle class="star" cx="20.63%" cy="45.98%" r="1.4"></circle>
    <circle class="star" cx="19.18%" cy="39.08%" r="1"></circle>
    <circle class="star" cx="30.37%" cy="96.46%" r="0.5"></circle>
    <circle class="star" cx="60.71%" cy="89.73%" r="0.7"></circle>
    <circle class="star" cx="16.07%" cy="25.56%" r="0.6"></circle>
    <circle class="star" cx="29.11%" cy="30.31%" r="0.6"></circle>
    <circle class="star" cx="34.37%" cy="72.5%" r="1.2"></circle>
    <circle class="star" cx="11.13%" cy="1.17%" r="0.5"></circle>
    <circle class="star" cx="40.72%" cy="62.06%" r="0.8"></circle>
    <circle class="star" cx="62.44%" cy="54.92%" r="1.4"></circle>
    <circle class="star" cx="34.46%" cy="31.67%" r="1"></circle>
    <circle class="star" cx="9.13%" cy="91.85%" r="0.9"></circle>
    <circle class="star" cx="30.31%" cy="75.52%" r="0.5"></circle>
    <circle class="star" cx="23.78%" cy="94.15%" r="0.6"></circle>
  </svg>
  <svg class="stars" width="100%" height="100%" preserveAspectRatio="none">
    <circle class="star" cx="28.2%" cy="2.27%" r="0.8"></circle>
    <circle class="star" cx="95.77%" cy="13.54%" r="0.5"></circle>
    <circle class="star" cx="20.12%" cy="58.74%" r="0.9"></circle>
    <circle class="star" cx="91.31%" cy="46.25%" r="0.5"></circle>
    <circle class="star" cx="73.93%" cy="91.01%" r="0.9"></circle>
    <circle class="star" cx="11.37%" cy="82.67%" r="0.9"></circle>
    <circle class="star" cx="37.56%" cy="71.36%" r="0.9"></circle>
    <circle class="star" cx="97.68%" cy="44.06%" r="1.1"></circle>
    <circle class="star" cx="11.2%" cy="87.57%" r="0.6"></circle>
    <circle class="star" cx="57.66%" cy="80.18%" r="0.6"></circle>
    <circle class="star" cx="8.58%" cy="99.1%" r="0.6"></circle>
    <circle class="star" cx="91.05%" cy="2.33%" r="1.3"></circle>
    <circle class="star" cx="81.63%" cy="17.49%" r="0.5"></circle>
    <circle class="star" cx="95.2%" cy="7.58%" r="1.5"></circle>
    <circle class="star" cx="37.81%" cy="16.89%" r="1.2"></circle>
    <circle class="star" cx="67.29%" cy="12.52%" r="0.7"></circle>
    <circle class="star" cx="58.15%" cy="6.65%" r="0.7"></circle>
    <circle class="star" cx="20%" cy="76.73%" r="0.8"></circle>
    <circle class="star" cx="89.72%" cy="57.6%" r="1"></circle>
    <circle class="star" cx="81.4%" cy="14.05%" r="0.6"></circle>
    <circle class="star" cx="86.57%" cy="2.92%" r="1"></circle>
    <circle class="star" cx="80.11%" cy="85.24%" r="0.8"></circle>
    <circle class="star" cx="58.33%" cy="65.91%" r="1"></circle>
    <circle class="star" cx="3.82%" cy="92.95%" r="0.8"></circle>
    <circle class="star" cx="78.52%" cy="59.99%" r="1.3"></circle>
    <circle class="star" cx="19.45%" cy="72.79%" r="1.4"></circle>
    <circle class="star" cx="18.35%" cy="46.97%" r="0.6"></circle>
    <circle class="star" cx="95.96%" cy="35.04%" r="1.4"></circle>
    <circle class="star" cx="68.67%" cy="91.11%" r="1.3"></circle>
    <circle class="star" cx="2.22%" cy="52.87%" r="0.9"></circle>
    <circle class="star" cx="33.32%" cy="45.79%" r="0.8"></circle>
    <circle class="star" cx="71.43%" cy="69.44%" r="0.8"></circle>
    <circle class="star" cx="89.35%" cy="23.23%" r="0.7"></circle>
    <circle class="star" cx="58.64%" cy="57.35%" r="0.7"></circle>
    <circle class="star" cx="82.66%" cy="92.04%" r="0.6"></circle>
    <circle class="star" cx="67.26%" cy="94.99%" r="0.8"></circle>
    <circle class="star" cx="91.49%" cy="31.11%" r="1"></circle>
    <circle class="star" cx="39.31%" cy="60.82%" r="1"></circle>
    <circle class="star" cx="82.61%" cy="54.95%" r="1.2"></circle>
    <circle class="star" cx="11.57%" cy="82.24%" r="0.7"></circle>
    <circle class="star" cx="93.8%" cy="42.92%" r="0.8"></circle>
    <circle class="star" cx="74.33%" cy="32.02%" r="0.8"></circle>
    <circle class="star" cx="1.13%" cy="28.39%" r="0.7"></circle>
    <circle class="star" cx="48.32%" cy="9.1%" r="0.7"></circle>
    <circle class="star" cx="8.99%" cy="11.12%" r="1.5"></circle>
    <circle class="star" cx="44.68%" cy="13.83%" r="0.7"></circle>
    <circle class="star" cx="10.59%" cy="92.74%" r="0.9"></circle>
    <circle class="star" cx="87.01%" cy="42.19%" r="0.9"></circle>
    <circle class="star" cx="10.46%" cy="32.49%" r="1"></circle>
    <circle class="star" cx="86.15%" cy="18.78%" r="0.9"></circle>
    <circle class="star" cx="46.76%" cy="52.3%" r="0.8"></circle>
  </svg>
  <svg class="extras" width="100%" height="100%" preserveAspectRatio="none">
    <defs>
      <radialGradient id="comet-gradient" cx="0" cy=".5" r="0.5">
        <stop offset="0%" stop-color="rgba(255,255,255,.8)"></stop>
        <stop offset="100%" stop-color="rgba(255,255,255,0)"></stop>
      </radialGradient>
    </defs>
    <g transform="rotate(-135)">
      <ellipse
        class="comet comet-a"
        fill="url(#comet-gradient)"
        cx="0"
        cy="0"
        rx="150"
        ry="2"></ellipse>
    </g>
    <g transform="rotate(20)">
      <ellipse
        class="comet comet-b"
        fill="url(#comet-gradient)"
        cx="100%"
        cy="0"
        rx="150"
        ry="2"></ellipse>
    </g>
    <g transform="rotate(300)">
      <ellipse
        class="comet comet-c"
        fill="url(#comet-gradient)"
        cx="40%"
        cy="100%"
        rx="150"
        ry="2"></ellipse>
    </g>
  </svg>
</div>

<style lang="scss">
  .stars-wrapper {
    --twinkle-duration: 4s;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 70vh;
    // background: linear-gradient(#16161d, #1f1f3a, #3b2f4a);
    overflow: hidden;
  }

  .stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: twinkle var(--twinkle-duration) ease-in-out infinite;

    &:nth-child(2) {
      animation-delay: calc(var(--twinkle-duration) * -0.33);
    }
    &:nth-child(3) {
      animation-delay: calc(var(--twinkle-duration) * -0.66);
    }

    @keyframes twinkle {
      25% {
        opacity: 0;
      }
    }
  }

  .star {
    fill: white;

    &:nth-child(3n) {
      opacity: 0.8;
    }
    &:nth-child(7n) {
      opacity: 0.6;
    }
    &:nth-child(13n) {
      opacity: 0.4;
    }
    &:nth-child(19n) {
      opacity: 0.2;
    }
  }

  .comet {
    transform-origin: center center;
    animation: comet 10s linear infinite;

    @keyframes comet {
      0%,
      40% {
        transform: translateX(0);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      60%,
      100% {
        transform: translateX(-100vmax);
        opacity: 0;
      }
    }
  }

  .comet-b {
    animation-delay: -3.3s;
  }

  .comet-c {
    animation-delay: -5s;
  }
</style>
