---

---
<div class="squircle">
  <div class="container-glass">
    <div class="glass"></div>
  </div>
  <div class="container-glass-border">
    <div class="glass-border"></div>
  </div>
</div>

<style lang="scss" is:global>
  .squircle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .container-glass {
    --border-radius: 16px;
    --bg: transparent;
    --inset: 0px;
    --blur: 40px;
    --look-ahead: calc(var(--blur) * 1.5);

    inset: var(--inset);
    position: absolute;
    border-color: hsl(214.29deg 31.82% 91.37%);
    & > .glass {
      position: absolute;
      inset: calc(var(--look-ahead) * -1);
      padding: var(--look-ahead);
      background: var(--bg);
      backdrop-filter: blur(var(--blur));
      mask-image: linear-gradient(to bottom, white 0%, white 100%);
      mask-clip: content-box;
      border-radius: calc(var(--border-radius) + var(--look-ahead));
      pointer-events: none;
    }
  }
  .container-glass-border {
    --border-radius: 18px;
    --border-width: 2px;
    --bg: hsl(0deg 0% 100% / 4%);
    --inset: -2px;
    --blur: 80px;
    --backdrop-filter: saturate(180%) brightness(3.5);
    --look-ahead: calc(var(--blur) * 1.5);

    inset: var(--inset);
    position: absolute;
    border-color: hsl(214.29deg 31.82% 91.37%);
    & > .glass-border {
      /*
       * This should be hidden if there is not support for "mask-image: paint(inset-border)"
       */
      opacity: 0;
      pointer-events: none;
      position: absolute;

      /**
       * The following variables are used in the border.js paint worklet.
       * for context "mask-image: paint(inset-border)" calls the paint worklet.
       */
      --border-radius: 18;
      --border-width: 2;
      --inset: 120;
      inset: calc(var(--look-ahead) * -1);
      padding: var(--look-ahead);
      background: var(--bg);
      backdrop-filter: blur(var(--blur)) var(--backdrop-filter);
      mask-clip: content-box;
      border-radius: calc(var(--border-radius) + var(--look-ahead));
    }
  }

  @supports (mask-image: paint(inset-border)) {
    .squircle[data-status="loaded"] {
      & .glass-border {
        mask-image: paint(inset-border);
        opacity: 1;
      }
    }
  }
</style>

<script async>;
  loadPaintWorklet()
    .then(updateSquircleStatus)
    .catch((err) => {
      console.error("Paint worklet failed to load (border.js) - ", err);
    });

  async function loadPaintWorklet() {
    if (!("paintWorklet" in CSS)) {
      await import("https://unpkg.com/css-paint-polyfill");
    }

    return CSS.paintWorklet.addModule(`border.js`);
  }

  function updateSquircleStatus() {
    const $el = document.getElementsByClassName("squircle");
    for (let i = 0; i < $el.length; i++) {
      $el[i].setAttribute("data-status", "loaded");
    }
  }
</script>
