---
import "@fontsource-variable/montserrat";

import Background from "../components/common/BackgroundNew.astro";
import SEO from "../components/common/SEO.astro";

import "../styles/global.scss";

const { AHREFS_ANALYTICS_LEY } = import.meta.env;

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <SEO />
    <title>{title}</title>
  </head>
  <body>
    <Background />
    <slot />
  </body>
</html>

<script
  async
  type="application/javascript"
  src="/api/analytics.js"
  data-key={AHREFS_ANALYTICS_LEY}></script>

<script>
  import { logger } from "../lib/logger";

  document.addEventListener("DOMContentLoaded", configLogger);

  function configLogger() {
    logger({
      type: "pageview",
      href: "home",
    });

    document.body.addEventListener("click", (e) => {
      const $target = e.target as HTMLElement;
      const $a = $target.closest("a");
      const $summary = $target.closest("summary");
      const parentSection = $target.closest?.("section");
      const parentHeader = $target?.closest?.("header");
      const parentFooter = $target?.closest?.("footer");

      logger({
        type: "click",
        content: $a
          ? $a.getAttribute("href")
          : $summary
            ? $summary.getAttribute("title")
            : undefined,
        section: parentSection
          ? parentSection.getAttribute("data-name")
          : parentHeader
            ? "header"
            : parentFooter
              ? "header"
              : undefined,
      });
    });
  }
</script>
