---
import "@fontsource-variable/montserrat";

import "../styles/global.scss";

interface Props {
  title: string;
}

const GTM_ID = "G-EK9VRRQE49";

const { title } = Astro.props;

const seoImageSrc =
  "https://raw.githubusercontent.com/haderman/alan-docs/main/screenshots/landing-hero.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="title" content="Alan AI" />
    <meta name="description" content="Multiple AI Chats Right in Your IDE!" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" itemprop="image" content={seoImageSrc} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.alanai.app/" />
    <meta property="twitter:title" content="Alan AI" />
    <meta
      property="twitter:description"
      content="Multiple AI Chats Right in Your IDE!"
    />
    <meta property="twitter:image" content={seoImageSrc} />
    <meta name="twitter:site" content="@haderman7" />
    <title>{title}</title>
  </head>
  <body>
    <noscript>
      <iframe
        src={"https://www.googletagmanager.com/ns.html?id=" + GTM_ID}
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      >
      </iframe>
    </noscript>
    <slot />
  </body>
</html>

<script
  type="text/partytown"
  async
  src={"https://www.googletagmanager.com/gtag/js?id=" + GTM_ID}
></script>

<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag("js", new Date());
  gtag("config", GTM_ID);
</script>
